*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html {
  scroll-behavior: smooth;
}

[class*="__container"]{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 75px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header {
    display: flex;
   
 
}
.header__container{
    padding: 20px 7px;
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;

    
}
.for-logo>img{
    height: 50px;
    width: 50px;
}
.navigation-header {
    

}
.ul-header {
    display: flex;  
    gap: 15px;

}
.ul-header>a:hover{
    color: rgba(0, 0, 0, 0.687);
    transform: scale(1.040);
    
}
.ul-header>a{
    transition: 100ms;
    color: black;
    font-weight: 600;
}

.button-header{
    height: 48px;
    width: 127px;
    background-color: #485C11;
    border-radius:25px ;
    color: white;
    border: none;
    cursor: pointer;
    transition: 100ms;
}
.button-header:hover{
transform: scale(1.045);
background-color: #3e500f;

}

.section1__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section1-title>h1 {
    text-align: center;
    font-size: 130px;
 background-image: linear-gradient(rgb(43, 255, 0), blue);
    color: transparent;
    background-clip: text;
    
}

.section1-designe {
    margin-top: 160px;
    width: 100%;
    height: 362px;
   background: linear-gradient(to right, rgb(255, 255, 255), rgb(58, 255, 54));
    
    border-radius: 20px ;
    display: flex;
    justify-content: center;
}
.section1-image{
    object-fit: cover;
    position: absolute;
    width: 700px;
    height: 500px;
    align-self: flex-end;
    
}
.section2 {
   display: flex;
}
.section2__container {
     margin-top: 40px;
      display: flex;
    justify-content: center;
    flex-direction: column;
}
.section2-products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.section2-product {
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width:280px;
   background: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0)) ;
   transition: 0.5s;

}
.section2-product>img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.section2-product:hover{
    transform: scale(1.2);
   background: linear-gradient(to left, rgb(255, 149, 0), rgb(0, 0, 0)) ;
   

   
}
.section2-product>img:hover {
    transform: scale(1.1);
   
}
.section2-product>h2{
    
    text-align: center;
    color: white;
   
}
.section2-title{
text-align: center;
font-size: 25px;
margin-bottom: 20px;
}
.section3 {
    display: flex;
    margin-bottom: 40px;
}

.section3__container {
    width: 1440px;
        margin-top: 40px;
      display: flex;
    justify-content: center;
    flex-direction: column;
}
.section3-advantages {
    display: flex;
    
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.section3-advantage{
    width:280px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.section3-advantage>img {
    width: 100%;
    height: 100%;
}
.section3-advantage>h2{
    text-align: center;
   
}
.section3-title{
text-align: center;
font-size: 25px;
margin-bottom: 20px;
}
footer{
    display: flex;
    
}
.footer_container {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:black;
    width: 100%;
    

}
.footer-child {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    gap: 25px;
}

.footer-child>a{
    display: flex;
height: 25px;
width: 25px;
}
.footer-child>a>img{
height: 25px;
width: 25px;
}
#ShowMore{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.676);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}
#ShowMoree{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.676);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.Information-ShowMore{
    

    padding: 30px;
    overflow: hidden;
    height: 400px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 30px;
}
.Information-ShowMoree{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    height: 400px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 30px;
}

.Information-ShowMore>h1,p{
text-align: center;
}
.Information-ShowMoree>h3,h1{
text-align: center;
}
.Information-ShowMoree>div{
margin-top: 110px;
display: flex;
flex-direction: column;
gap: 15px;
}

.button-footer{
    height: 48px;
    width: 127px;
    background-color: #485C11;
    border-radius:25px ;
    color: white;
    border: none;
    cursor: pointer;
    transition: 100ms;
}
.button-footer:hover{
transform: scale(1.045);
background-color: #3e500f;

}

#burger {
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: none;
}

#burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.3s;
}

#burger-menu{
    position: absolute;
    background-color: orange;
    display: none;
    flex-direction: column;
    left: 0px;
    top: 60px;
    padding: 6px;
    position: fixed;
    opacity: 99;
}
#burger-menu.open {
  display: flex;
}

#burger span:nth-child(1) { top: 0; }
#burger span:nth-child(2) { top: 13px; }
#burger span:nth-child(3) { bottom: 0; }

#burger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

#burger.active span:nth-child(2) {
  opacity: 0;
}

#burger.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 13px;
}
#burger-menu {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  z-index: 44;
}

#burger-menu.open {
  display: flex;
}

@media  (max-width: 767.9px) {
  .section1-designe{
    display: none;
  }
}

@media  (max-width: 699.9px) {
  .ul-header>a{
    font-size: 14px;
  }
  .button-header{
    font-size: 12px;
        height: 40px;
    width: 100px;
  }
  .for-logo>img {
    height: 40px;
    width: 40px;
}
.section1-title>h1 {
    font-size: 100px;
}
.button-footer {
    font-size: 12px;
        height: 40px;
    width: 100px;
}
.section3-title{
    font-size: 15px;
}
.section2-title{
    font-size: 15px;
}
}

@media  (max-width: 599.9px) {
  .navigation-header{
    display: none;
    opacity: 0;
  }
  #burger{
    display: flex;
  }
  .ul-header{
    flex-direction: column;
  }
}
@media  (max-width: 499.9px) {
  .section1-title>h1 {
    font-size: 70px;
}
.section2-product{
    width: 230px;
}
.section2-product>h2{
    font-size: 18px;
}
.section3-advantage>h2{
    font-size: 18px;
}
.section3-advantage{
    width: 230px;

}
}
@media  (max-width: 410.9px) {
  .section1-title>h1 {
    font-size: 50px;
}
.section2-product{
    width: 230px;
}
.section2-title{
    font-size: 10px;
}
.section3-title{
    font-size: 10px;
}

.section2-product>h2{
    font-size: 14px;
}
.section3-advantage>h2{
    font-size: 14px;
}
.section3-advantage{
    width: 230px;

}
}